<%  
  controller = controller || nil

  unless controller.nil?
    index_url_path = url_for(controller: controller, action: :index)  
    sorter_list = "#{controller.upcase}_SORTER_LIST".constantize
%>

<div class="search-bar-fixed" data-controller="form-solr">
  <%= form_tag index_url_path, { id: "solr", method: :get, data: { form_solr_target: "form" } , class: "row g-3 align-items-center" } do %>
    <!-- Filtro de búsqueda -->
    <div class="col-md-5">
      <%= text_field_tag :search, params[:search], 
          { placeholder: I18n.t("aia_store.search_order_bar.data_filter"), class: "form-control" } %>
    </div>

    <!-- Botón de búsqueda -->
    <div class="col-md-1">
      <%= button_tag I18n.t("aia_store.search_order_bar.search"), 
          name: nil, class: "btn btn-primary w-100" %>    
    </div> 

    <!-- Ordenar por -->
    <div class="col-md-4">
      <%= select_tag :order, 
          options_for_select(sorter_list, params[:order]), 
          class: "form-select", 
          prompt: I18n.t("aia_store.search_order_bar.order_by"), 
          data: { action: "form-solr#submit" } %>
    </div>

    <!-- Ascendente / Descendente -->
    <div class="col-md-2">
      <%= select_tag :sort, 
          options_for_select(["asc", "desc"], params[:sort]), 
          class: "form-select", 
          data: { action: "form-solr#submit" } %>
    </div>  
  <% end %>
</div>

<style>
.search-bar-fixed {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: margin-left .15s ease-in-out;
}

/* Cuando el sidebar está abierto */
body:not(.sb-sidenav-toggled) .search-bar-fixed {
  margin-left: 225px; /* Ancho del sidebar */
  width: calc(100% - 225px);
}

/* Ajustar el margen para el contenido principal */
.container {
  margin-top: 156px;
}
</style>

<% else %>
  <h4 class="text-danger"><%= "¡¡¡Error!!! Debes pasar el controlador mediante la variable :controller" %></h4>
<% end %>
